<h1>Reactive Dinamicos</h1>
<hr>

<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">

    <div class="row mb-3">

        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   type="text"
                   placeholder="Nombre de la persona"
                   formControlName="nombre">

            <span class="form-text text-danger"
                  *ngIf="campoNombreValido()">
                Este campo es obligatorio
            </span>
        </div>

        <!--agregar favorito-->
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">

            <div class="input-group">
                <input class="form-control"
                       placeholder="Agregar favorito"
                       (keyup.enter)="agregarFavorito()"
                       [formControl]="nuevoFavorito">

                <button class="btn btn-outline-primary"
                        type="button"
                        (click)="agregarFavorito()">
                    Agregar
                </button>
            </div>

            
       <!--favoritos-->
       
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">

            <div class="input-group mb-1"
                 *ngFor="let favorito of favoritosArray.controls; let i = index">
                <input class="form-control"
                       [formControlName]="i">

                <button class="btn btn-outline-danger"
                        type="button"
                        (click)="borrarFavorito(i)">
                    Eliminar
                </button>
            </div>

        </div>











    </div>

        <div class="row mt-3">

            <div class="col-sm-12">

                <button type="submit"
                        class="btn btn-primary float-end"
                        (click)="1+1">
                    Guardar
                </button>
                
            </div>
            
        </div>


    </div>

</form>

{{miFormulario.value |json}}